doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/alert.css")
    script(type="text/javascript" src="/javascripts/angular/angular.js")
    script(type="text/javascript" src="/javascripts/angular/angular-locale-ptbr.js")
    script(type="text/javascript" src="/javascripts/script.js")
    script(type="text/javascript" src="/javascripts/contatosService.js")
    script(type="text/javascript" src="/javascripts/operadorasService.js")
    script(type="text/javascript" src="/javascripts/configValue.js")
    script(type="text/javascript" src="/javascripts/serialGeneratorService.js")
    script(type="text/javascript" src="/javascripts/serialGeneratorConfig.js")
    script(type="text/javascript" src="/javascripts/nameFilter.js")
    script(type="text/javascript" src="/javascripts/limitFilter.js")
    script(type="text/javascript" src="/javascripts/uiAlertDirective.js")
    script(type="text/javascript" src="/javascripts/uiDateDirective.js")
    script(type="text/javascript" src="/javascripts/uiAccordionDirective.js")
  body
    block content